* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #f9fbff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.nav-bar {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.user-btn {
  padding: 10px 20px;
  background-color: #e6f4ff;
  border: none;
  border-radius: 10px;
  color: #df7c9a;
  font-weight: 600;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  height: 100vh;
  box-sizing: border-box;
  gap: 30px;
}

.main-text {
  flex: 1;
  padding-right: 40px;
  max-height: 100%;
  overflow: hidden;
}

.main-text h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #2e2e2e;
}

.highlight {
  color: #df7c9a;
  font-weight: bold;
}

.main-text p {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
  max-width: 500px;
}

.cta-button {
  display: inline-block;
  background-color: #df7c9a;
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.main-image{
  flex: 1;
  text-align: center;
}

.main-image img {
  max-height: 80vh;
  max-width: 100%;
  object-fit: contain;
  /* display: flexbox; */
}

@media(max-width: 768px){
  main{
    flex-direction: column;
    height: auto;
    padding: 40px 20px;
  }

  .main-text{
    padding: 0;
    text-align: center;
  }

  .main-image img{
    max-height: 50vh;
  }
}
